@font-face {
    font-family: myFont;
    src: url(/WindowsRegular.ttf);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    background-color: #5c7d9c;
    justify-content: space-between;
    font-family: myFont;
    background-image: url('/background3.png');
    overflow: hidden;
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}